#geo_location_message{:style => "display: none"}
#wrapper
  #map_canvas{:style => "width:100%; height:100%"}
#sidebar
  %p long long fill filler very fill column column silly filler very filler fill fill filler text fill very silly fill text filler silly silly filler fill very make fill column text column very very column fill fill very silly column silly silly fill fill long filler