%a#geomodal.facebox_link{ :href => "#info", :rel => "facebox" } Something!
#info{:style => "display: none"}
  %p Hey, I'm the 'info' div!
  %p I look like this:
  %code
    Some Code!!!
#map_canvas{:style => "width:100%; height:100%"}