#geo_location_message{:style => "display: none"}
#wrapper
  #map_canvas{:style => "width:100%; height:100%"}
#sidebar
  #hospital_filters
    #hospital_filter_button_distance.hospital_filter_button Distance
    #hospital_filter_button_agony.hospital_filter_button Agony
    #hospital_filter_button_wait.hospital_filter_button Wait Time
  .clear
  %ul#hospital_list