@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include single-box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {}

#container {}

header {}

#main {}

footer {}

//-----------------------------------
// E-MErgency Styles - neaten and refactor later
//-----------------------------------

/* Colours */
$nhsblue: #0064b7;
$lightblue: #59a8ea;
$verylightblue: #b9dfff;

/* Variables */
$page_width: 100%;
$content_width: 960px;

* {
    font: 100%/1em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

#wrapper, body {
    background-color: #f8f8f8;
}

#wrapper {
    min-width: $content_width;
    width: $page_width;
}

.content {
    min-width: $content_width;
    width: $content_width;
    margin: 0 auto;
}

#header {
    height: 50px;
    color: #FFFFFF;
    background-color: $nhsblue;
    border-bottom: 2px solid #999999;
    .content{
        padding-top:20px;
    }
}

#main {
    overflow: auto;
    background-color: #fff;
    #map-canvas{
        background-color: #0000ff;
        width: 600px;
        height: 500px;
        float: left;
        border-right: 2px solid #ccc;
    }
    
    #hospital-list{
        float:right;
        width: 260px;
        height: 500px;
        overflow: hidden;
        background-color: #ff0000;
        font-size: 12px;
        
        
        .header{
            background-color: #eee;
            height: 42px;
            padding: 10px 0px 0px 10px;
            
            .sort-option{
                float: left;
                margin-right: 10px;
                padding: 5px;
                background-color: #fff;
                border: 1px solid #666;
                
                &:hover{
                    background-color: $verylightblue;
                }
            }
        }
        
        .list-item{
            background-color: #fff;
            cursor: pointer;
            border-top: 2px solid #fff;
            border-bottom: 2px solid #eee;
            padding: 5px;
            
            .title{
                height: 20px;
                display: block;
                font-size: 20px;
                padding-top: 5px;
                
                .distance, .name{
                    float: left;
                }
                .distance{
                    font-size: 12px;
                    margin-top: 4px;
                    margin-left: 5px;
                }
            }
            
            .details{
                margin-top: 5px;
                
                .more-info-link{
                display: block;
                }
                
                .delay{
                    margin-top: 2px;
                }
                
                .more-info-link{
                    margin-top: 8px;
                    float: right;
                    
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            
            &:hover{
                background-color: $verylightblue;
                border-color: $nhsblue;
                border-color: $nhsblue;
                font-weight: bold;
            }
        }
    }
}

/* Hospital Delay Time Updates */
#update_hospital_delay_time{
    width: 600px;
    margin: 10px auto;
    padding: 15px;
    @include rounded('all', 4px);
    background-color: #FFF;
    border: 2px solid #EEE;
    font-size: 20px;
    
    h2{
        font-size: 20px;
        margin: 0px;
        margin-bottom: 10px;
        padding: 0px;
        padding-bottom: 5px;
        border-bottom: solid 2px #EEE;
    }
    #new_delay{
        margin-bottom: 15px;
        
        .errors{
            padding: 10px;
            list-style-type:none;
            margin: 0px;
            margin-bottom: 10px;
        }
        
        #current_waiting_time_container{
            float:left;
            border-right: 2px solid #EEE;
            display: block;
            height: 40px;
            padding-right: 15px;
            width: 300px;
            
            #current_waiting_time{
                float:right;
                padding-top: 8px;
            }
        }
        
        #update_waiting_time_container{
            float:left;
            display: block;
            height: 40px;
            padding-left: 15px;
            width: 260px;
            
            #update_waiting_time{
                float:left;
                
                #delay_minutes{
                    font-size: 28px;
                    border: 2px solid #EEE;
                    background-color: #E5FAFF;
                    height: 40px;
                    padding: 0px;
                    margin: 0px;
                    float:left;
                    margin-right: 10px;
                }

                #delay_submit{
                    padding: 0px;
                    margin: 0px;
                    height: 45px;
                    padding: 0px 10px;
                    border: 2px solid #EEE;
                    background-color: #DBFFB3;
                    float:left;
                }
                .field_with_errors{
                    float:left;
                }
            }
        }
    }

    #last_updated{
        text-align: center;
        font-size: 16px;
    }
}

/* Notifications */
.message{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.info{
    background-color: #BDE5F8;
    border: 2px solid darken(#BDE5F8, 20%);
}

.success{
    background-color: #DFF2BF;
    border: 2px solid darken(#DFF2BF, 20%);
}

.notice{
    background-color: #FEEFB3;
    border: 2px solid darken(#FEEFB3, 20%);
}

.failed{
    background-color: #FFBABA;
    border: 2px solid darken(#FFBABA, 20%);
}

#footer{
    color: #FFFFFF;
    background-color: $nhsblue;
    padding: 20px;
}

.clear{
    clear: both;
}
