/* Variables */
* {
  font: 100%/1em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; }

#wrapper, body {
  background-color: #f8f8f8; }

#wrapper {
  min-width: 960px;
  width: 100%; }

.content {
  min-width: 960px;
  width: 960px;
  margin: 0 auto; }

#header {
  height: 77px;
  border-bottom: 2px solid #999999;
  color: #FFFFFF; }
