<h1>Listing users</h1>

<table>

  <tr>
    <th>Email</th>
    <th>Associated hospital</th>
    <th></th>

  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <% if user.hospital.nil? %>
      <td>No hospital assigned</td>
    <% else %>
      <td><%= user.hospital.name %></td>
    <% end %>
    <td>Role: <% user.roles.each do |role| %>
      <%= role.name %>
      <% end %>
    </td>
    <td><%= link_to  "Change assigned hospital", edit_hospital_user_path(user.id) %>
    <td><%= link_to  "Change assigned role", edit_role_user_path(user.id) %>
    <% if not user.hospital.nil? %>
      <%= link_to  "Add new delay time", new_hospital_delay_path(user.hospital.id) %>
      <%= link_to  "Show delay times", hospital_delays_path(user.hospital.id) %>
    <% end %>
    </td>

  </tr>
<% end %>
</table>

<br />

