/* Colours */
$nhsblue: #0064b7;
$lightblue: #59a8ea;
$verylightblue: #b9dfff;

/* Variables */
$page_width: 100%;
$content_width: 960px;

* {
    font: 100%/1em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

#wrapper, body {
    background-color: #f8f8f8;
}

#wrapper {
    min-width: $content_width;
    width: $page_width;
}

.content {
    min-width: $content_width;
    width: $content_width;
    margin: 0 auto;
}

#header {
    height: 50px;
    color: #FFFFFF;
    background-color: $nhsblue;
    border-bottom: 2px solid #999999;
    .content{
        padding-top:20px;
    }
}

#body {
    overflow: auto;
    .content{
        background-color: #fff;
        #map-canvas{
            background-color: #0000ff;
            width: 698px;
            height: 500px;
            float: left;
            border-right: 2px solid #ccc;
        }
        
        #hospital-list{
            float:right;
            width: 260px;
            min-height: 400px;
            background-color: #ff0000;
            font-size: 12px;
            
            
            .header{
                background-color: #eee;
                height: 40px;
                padding: 10px 0px 0px 10px;
                
                .sort-option{
                    float: left;
                    margin-right: 10px;
                    padding: 5px;
                    background-color: #fff;
                    border: 1px solid #666;
                    
                    &:hover{
                        background-color: $verylightblue;
                    }
                }
            }
            
            .list-item{
                background-color: #fff;
                cursor: pointer;
                border-top: 2px solid #fff;
                border-bottom: 2px solid #fff;
                padding: 5px;
                
                .number{
                    float: left;
                    width: 20px;
                    height: 30px;
                    display: block;
                    font-size: 20px;
                    padding-top: 5px;
                }
                
                .details{
                    float: left;
                    margin-top: 5px;
                    
                    .distance, .name, .more-info-link{
                    float: left;
                    display: block;
                    }
                    
                    .distance{
                        
                    }
                    
                    .name{
                        
                    }
                    
                    .more-info-link{
                        float: none;
                        clear: left;
                    }
                }
                
                
                &:hover{
                    background-color: $verylightblue;
                    border-color: $nhsblue;
                    border-color: $nhsblue;
                    font-weight: bold;
                }
            }
        }
    }
}

#footer{
    color: #FFFFFF;
    background-color: $nhsblue;
    padding: 20px;
}

.clear{
    clear: both;
}
