/* Variables */
$page_width: 100%;
$content_width: 960px;

* {
    font: 100%/1em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

#wrapper, body {
    background-color: #f8f8f8;
}

#wrapper {
    min-width: $content_width;
    width: $page_width;
}

.content {
    min-width: $content_width;
    width: $content_width;
    margin: 0 auto;
}

#header {
    height: 77px;
    border-bottom: 2px solid #999999;
    color: #FFFFFF;
}

#body {
}

#footer{
}