#= require facebox
#= require html5-boilerplate

/* Core styles for body/containers */
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#container{ width: 100%; height: 100%; position: relative}
#main{ width: 100%; height: 100%; position: relative;}
#wrapper{ width: 100%; height: 100%; position: relative}


/* Fonts */
body, select, input, textarea {
    color: #444;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-variant: normal;
    font-weight: 300;
}

.clear{clear:both}

/* Fluid Layout */
#header{min-height: 80px;}
#wrapper{float:left;width:100%;margin-left:-300px;}
#map_canvas{float:left;width:100%}
#sidebar{float:right;width:300px;margin: 0;}
#footer{clear:both;width:100%}

/* Fluid Layout Styles */
#header{height:80px; background: hsla(207, 45%, 55%, 1)}
#map_canvas p{line-height:1.4}
#sidebar{background:#FFF}
#footer{background: #333;color: #FFF}
#footer p{margin:0;padding:5px 10px}
#sidebar{
    float: right;
    height: 100%;
    position: absolute;
    right: 0;
    overflow: scroll;
}

#hospital_filters{
    padding: 15px;
    .hospital_filter_button{
        float: left;
        padding: 5px;
        margin-right: 5px;
        border: 1px solid #EEE;
        
        &:hover{
            background: hsla(207, 45%, 55%, 1);
            color: #FFF;
            cursor: pointer;
        }    
    }
}


#hospital_list{
    margin: 15px;
    border-top: 1px #E5E5E5 solid;

    li{
        list-style: none;
        background-color: hsla(0, 0%, 95%, .85);
        display: block;
        margin: 0px;
        border-bottom: 1px #E5E5E5 solid;
        padding: 15px;
    }
}

/* Sidebar */
.highlight {font-weight: bold}
