#flash
  .message{ :class => 'notice' }
    %strong Disclaimer:
    %em This site is a prototype in pre-alpha stage and does not show real live data!
    %span Open source, MIT licensed.
    %a{:href => "https://github.com/e-mergency/site"} Get the code!
  - flash.each do |key, value|
    .message{ :class => key }
      %p= value
